.emoji{
    .situacao{
    font-size: 4em;
    }
}

.acoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acoes button{
    width: 150px;
    height: 40px;
    margin: 5px;
}

