.emoji{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .situacao{
        font-size: 4em;
    }
}

.acoes{
    display: flex;
    flex-direction: column;
    
}

.acoes button{
    width: 150px;
    height: 40px;
    margin: 5px;
}

